* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.grid {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    height: 600px;
    width: 600px;
}

.box {
    width: calc(100% / 10);
    height: calc(100% / 10);
    border: 1px solid black;
}

.box:hover {
    cursor: pointer;
}

.clicked {
    background-color: aqua;
}